// header styles

header {
    // background-image: url(assets/lightsNight.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // background-attachment: fixed;
}


.userChoice {
    background-color: rgba(247, 135, 100, 0.7);
    width:80%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:100px auto;
    border-radius: 20px;
}

.button{
    @include button();

}

.button:hover{
    background-color: $primaryColor;
    cursor: pointer;
    color:black;
}

body {
    background-image: url(assets/lightsNight.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}