article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  color: white;
  background-color: black;
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

h1,
h2 {
  text-align: center;
  letter-spacing: 3px;
  margin: 40px 0;
  font-family: "Shadows Into Light", cursive;
}

h1 {
  text-transform: uppercase;
  color: #F4D35E;
  font-size: 7rem;
  text-shadow: 5px 5px 5px black;
}

h2 {
  font-size: 5rem;
  color: #fff;
  text-shadow: 5px 5px 5px black;
}

p {
  font-size: 2.5rem;
  letter-spacing: 1px;
}

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(245, 246, 252, 0.2)), to(rgba(255, 255, 255, 0.3))), url(assets/lightsNight.jpg);
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.2), rgba(255, 255, 255, 0.3)), url(assets/lightsNight.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.userChoice {
  background-color: rgba(247, 135, 100, 0.7);
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 100px auto;
  border-radius: 20px;
}

.button {
  background-color: black;
  text-align: center;
  margin: 30px 0;
  padding: 20px 0;
  text-transform: uppercase;
  width: 40%;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px 2px;
          box-shadow: 0 0 10px 2px;
  font-weight: bold;
}

.button:hover {
  background-color: #F4D35E;
  cursor: pointer;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0 20px;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
}

ul li {
  -webkit-box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin: 25px 0;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imageDrink {
  width: 35%;
  margin: 0 auto;
  background-color: white;
}

.imageDrink img {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 20px 20px 100px 20px;
}

footer p {
  background-color: black;
  text-align: center;
  color: #f78764;
  letter-spacing: 1px;
  font-size: 2rem;
}

@media (max-width: 1024px) {
  .wrapper {
    width: 90%;
  }
  .userChoice {
    width: 100%;
  }
}

@media (max-width: 650px) {
  h1 {
    font-size: 6rem;
  }
  .userChoice {
    margin: 40px auto;
  }
  .button {
    width: 70%;
  }
  footer p {
    font-size: 1.6rem;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4rem;
    margin: 0;
  }
  .button {
    width: 85%;
    padding: 10px 0;
  }
  footer p {
    font-size: 1.3rem;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  p {
    font-size: 2rem;
  }
  .userChoice {
    margin: 20px auto;
  }
  .button {
    width: 90%;
    padding: 0;
  }
  footer p {
    font-size: 1rem;
  }
}
